<!DOCTYPE html>
<html lang="en">
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:100px}
    </style>
  </head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);"
     onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="" class="w3-bar-item w3-button w3-padding-large w3-white">Anasayfa</a>
    <a href="/ogrenci-giris" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Öğrenci </a>
    <a href="/ogretmen-kayit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Öğretmen</a>
    <a href="/liderkayit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Okul Yöneticisi</a>
    <a href="/veli-kayit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Veli</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">JR CLASS</h1>
  <p class="w3-xlarge"></p>
  <a href="/liderkayit" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Hemen Kayıt Ol</a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>JRClass</h1>
      <h5 class="w3-padding-32"></h5>

      <p class="w3-text-grey">Bu web sitesi, okul müdürlerinin sisteme kaydolduğu, ardından öğrencilerin, öğretmenlerin ve velilerin de kaydolduğu bir platform sunmaktadır. Öğretmenler, derslerine ait öğrencilere not girişi yapabilirken, veli ve öğrenciler de kendi notlarını giriş yaparak gözlemleyebilirler. Bu web sitesi, okulun kayıt işlemlerini ve not takibini kolaylaştırarak etkili bir iletişim ve izleme sistemini sağlamaktadır.
        Bu web sitesinin misyonu, eğitim sürecinde tüm paydaşların işbirliğini ve iletişimini geliştirmek, kayıt işlemlerini kolaylaştırmak ve not takibini etkinleştirmektir. Öğrenciler, veliler ve öğretmenler arasında şeffaf bir iletişim sağlayarak, eğitim kalitesini artırmayı hedefler.
      </p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
     
      <h5 class="w3-padding-32">Vizyonumuz ise, eğitim sürecinde dijital dönüşümü desteklemek ve modern bir öğrenme ortamı yaratmaktır. İnovasyon ve teknolojiyi kullanarak, öğrencilerin akademik başarılarını artırmak, velilerin çocuklarının gelişimini izlemesini kolaylaştırmak ve öğretmenlere not girişi gibi işlemlerde verimlilik sağlamak için sürekli olarak kendimizi geliştirmeyi hedeflemekteyiz.</h5>

     
    </div>
  </div>
</div>



<!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity"> 
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 
 <!-- Footer end. -->
 </footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
