<table border="1" width="300px" align="center" cellpadding="20" >
  <tr>
      <th colspan="10">DERS PROGRAMI</th>
  </tr>
  <tr>
      <th rowspan="7">GÜNLER</th>
  </tr>
  <tr>
      <th></th>
      <th>1.Ders</th>
      <th>2.Ders</th>
      <th>3.Ders</th>
      <th>4.Ders</th>
      <th>5.Ders</th>
      <th>6.Ders</th>
    
  </tr>
  <tr>
      <th>Pazartesi</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    
  </tr>
  <tr>
      <th>Salı</th> 
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      
  </tr>
  <tr>
      <th>Çarşamba</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    
  </tr>
  <tr>
      <th>Perşembe</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
     
  </tr>
  <tr>
      <th>Cuma</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      
  </tr>            
</table>
<button>Kaydet</button>